.dropdown_container{

}

/*==================MEDIA QUARIES (MEDIUM DEVICES)  ======================*/
@media screen and (max-width: 1024px) {
    .navbar {
      /* width: var(--container-width-lg); */
  
      grid-template-columns: 1fr;
      gap: 0;
    }
  
  }
  
  /*==================MEDIA QUARIES (SMALL DEVICES)  ======================*/
  @media screen and (max-width: 600PX) {
    .dropdown_container{
        width: 100%;
    }
  
  }